<div class="container-fluid">

	<!-- Page title. -->
	<h1 class="display-4">
		{{characterData(hash, "characterPublic") && characterData(hash, "characterPublic").name
			? characterData(hash, "characterPublic").name
			: "Character Information"}}
		<a [routerLink]="['/overview']"
			class="btn btn-light float-right"
			role="button">
			Return To Overview
		</a>
	</h1>

	<!-- Page description. -->
	<p class="lead"
		*ngIf="characterData(hash, 'characterPublic')">
		<span class="corporation"
			*ngIf="characterData(hash, 'characterPublic') && characterData(hash, 'characterPublic').corporation_id">
			{{universeData('corporation', characterData(hash, "characterPublic").corporation_id).name}}
			<small>
				[{{universeData('corporation', characterData(hash, "characterPublic").corporation_id).ticker}}]
			</small>
		</span>
		-
		<span class="alliance"
			*ngIf="characterData(hash, 'characterPublic') && characterData(hash, 'characterPublic').alliance_id">
			{{universeData('alliance', characterData(hash, "characterPublic").alliance_id).name}}
			<small>
				[{{universeData('alliance', characterData(hash, "characterPublic").alliance_id).ticker}}]
			</small>
		</span>
	</p>

	<!-- Two views for different sizes. -->
	<div class="row">

		<!-- Large info section. -->
		<div class="col-3 larger-view d-none d-md-block">

			<!-- Character image. -->
			<img [src]="eveImage(
					'Character',
					hash,
					512
				)"
				class="img-fluid rounded"
				alt="Character Image">

			<!-- List of character details. -->
			<dl class="row mt-3">

				<!-- Wallet balance. -->
				<dt class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'wallet')">
					Wallet Balance
				</dt>
				<dd class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'wallet')">
					{{characterData(hash, 'wallet') | number: "1.2-2"}} ISK
				</dd>

				<!-- Security status. -->
				<dt class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'characterPublic')">
					Security Status
				</dt>
				<dd class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'characterPublic')">
					{{characterData(hash, "characterPublic").security_status | number: "1.2-2"}}
				</dd>

				<!-- ============================== -->

				<!-- Active ship. -->
				<dt class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'shipType')">
					Active Ship
				</dt>
				<dd class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'shipType')">
					{{universeData('type', characterData(hash, "shipType").ship_type_id).name}}
					({{characterData(hash, "shipType").ship_name}})
				</dd>

				<!-- Solar system. -->
				<dt class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'location') && characterData(hash, 'location').solar_system_id">
					Solar System
				</dt>
				<dd class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'location') && characterData(hash, 'location').solar_system_id">
					{{universeData('system', characterData(hash, 'location').solar_system_id).name}}
				</dd>

				<!-- Station. -->
				<dt class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'location') && characterData(hash, 'location').station_id">
					Station
				</dt>
				<dd class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'location') && characterData(hash, 'location').station_id">
					{{universeData('station', characterData(hash, 'location').station_id).name}}
				</dd>

				<!-- Structure. -->
				<dt class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'location') && characterData(hash, 'location').structure_id">
					Structure
				</dt>
				<dd class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'location') && characterData(hash, 'location').structure_id">
					{{universeData('structure', characterData(hash, 'location').structure_id, getTokenFromHash(hash)).name}}
				</dd>

				<!-- ============================== -->

				<!-- Charisma. -->
				<dt class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'attributes') && characterData(hash, 'attributes').charisma">
					Charisma
				</dt>
				<dd class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'attributes') && characterData(hash, 'attributes').charisma">
					{{characterData(hash, 'attributes').charisma}}
				</dd>

				<!-- Intelligence. -->
				<dt class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'attributes') && characterData(hash, 'attributes').intelligence">
					Intelligence
				</dt>
				<dd class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'attributes') && characterData(hash, 'attributes').intelligence">
					{{characterData(hash, 'attributes').intelligence}}
				</dd>

				<!-- Memory. -->
				<dt class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'attributes') && characterData(hash, 'attributes').memory">
					Memory
				</dt>
				<dd class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'attributes') && characterData(hash, 'attributes').memory">
					{{characterData(hash, 'attributes').memory}}
				</dd>

				<!-- Perception. -->
				<dt class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'attributes') && characterData(hash, 'attributes').perception">
					Perception
				</dt>
				<dd class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'attributes') && characterData(hash, 'attributes').perception">
					{{characterData(hash, 'attributes').perception}}
				</dd>

				<!-- Willpower. -->
				<dt class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'attributes') && characterData(hash, 'attributes').willpower">
					Willpower
				</dt>
				<dd class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'attributes') && characterData(hash, 'attributes').willpower">
					{{characterData(hash, 'attributes').willpower}}
				</dd>

				<!-- ============================== -->

				<!-- Remap available. -->
				<dt class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'attributes') && characterData(hash, 'attributes').accrued_remap_cooldown_date">
					Remap Available
				</dt>
				<dd class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'attributes') && characterData(hash, 'attributes').accrued_remap_cooldown_date">
					{{characterData(hash, 'attributes').accrued_remap_cooldown_date | date: 'medium'}}
				</dd>

				<!-- Next remap. -->
				<dt class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'attributes') && characterData(hash, 'attributes').accrued_remap_cooldown_date">
					Next Remap
				</dt>
				<dd class="col-12 col-xl-6"
					*ngIf="characterData(hash, 'attributes') && characterData(hash, 'attributes').accrued_remap_cooldown_date">
					{{remapCountdown(characterData(hash, 'attributes').accrued_remap_cooldown_date)}}
				</dd>

			</dl>

		</div>

		<!-- Small info section. -->
		<div class="col-12 smaller-view d-block d-md-none">

			<!-- List of character details. -->
			<div class="data-list mb-4">

				<!-- Character image. -->
				<div class="data-item">
					<img [src]="eveImage(
							'Character',
							hash,
							128
						)"
						class="rounded"
						alt="Character Image">
				</div>

				<!-- Test. -->
				<div class="data-item" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
					<span class="title">Title Text</span>
					<span class="data">Data Text</span>
				</div>

			</div>

		</div>

		<!-- Tabs. -->
		<div class="col-12 col-md-9">

			<ngb-tabset class="mb-3">

				<ngb-tab title="Skill Queue">
					<ng-template ngbTabContent>
						<app-skill-queue></app-skill-queue>
					</ng-template>
				</ngb-tab>

				<ngb-tab title="All Skills">
					<ng-template ngbTabContent>
						<app-skills></app-skills>
					</ng-template>
				</ngb-tab>

				<ngb-tab title="Wallet Details">
					<ng-template ngbTabContent>
						<app-wallet></app-wallet>
					</ng-template>
				</ngb-tab>

			</ngb-tabset>

		</div>

	</div>

</div>
