.lead .gender {
	text-transform: capitalize;
}

.smaller-view .data-list {
	display: flex;
	padding: 0 0 1rem 0;
	overflow-x: auto;

	white-space: nowrap;
}

.smaller-view .data-list .data-item {
	padding: 0.75rem;
	margin: 0.5rem 0.25rem;

	font-size: 1rem;

	border-radius: 0.25rem;
	background-color: rgba(255, 255, 255, 0.1);
}

.smaller-view .data-list .data-item img {
	width: auto;
	height: 50px;
}

.smaller-view .data-list .data-item .title {
	font-size: 1.1rem;
	font-weight: bold;
}

.tab-content {
	margin: 1rem 0;
}
