# SEE HTTP://HELP.GITHUB.COM/IGNORE-FILES/ FOR MORE ABOUT IGNORING FILES.

# COMPILED OUTPUT
/dist
/dist-server
/tmp
/out-tsc

# DEPENDENCIES
/node_modules

# IDES AND EDITORS
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project

# IDE - VSCODE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# MISC
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# E2E
/e2e/*.js
/e2e/*.map

# SYSTEM FILES
.DS_Store
Thumbs.db

# EXTERNALLY COMPILED SERVICES
src/app/esi/
