<div class="container-fluid">

	<!-- Page title. -->
	<h1 class="display-4">
		{{characterData(hash, 'characterPublic')
			? characterData(hash, 'characterPublic').name
			: "Character Information"}}
		<a [routerLink]="['/overview']"
			class="btn btn-light float-right"
			role="button">
			Return To Overview
		</a>
	</h1>

	<!-- Page description. -->
	<p class="lead">
		Information about your character, such as their status, skills, finances, etc.
	</p>

</div>

<!-- <app-skill-queue></app-skill-queue> -->
<!-- <app-skills></app-skills> -->
<!-- <app-wallet></app-wallet> -->
