<div class="container-fluid">

	<!-- Page title. -->
	<h1 class="display-4">Overview</h1>

	<!-- Page description. -->
	<p class="lead">
		Basic information about your characters, their queues, etc; click them to view more details.
	</p>

	<!-- List of character tokens. -->
	<figure class="card"
		*ngFor="let token of tokens; let hash = token.verification.CharacterOwnerHash;"
		[routerLink]="['/character-info', hash]">

		<img [src]="eveImage(
				'Character',
				token.verification.CharacterID,
				256
			)"
			class="card-img-top"
			alt="Character Image">

		<figcaption class="card-body">

			<h5 class="card-title text-truncate">
				{{token.verification.CharacterName}}
			</h5>

			<div class="card-text">

				<span *ngIf="character[hash].wallet.data">
					Wallet:
					<small class="text-muted">
						{{character[hash].wallet.data | number: "1.2-2"}} ISK
					</small>
				</span>

				<span *ngIf="character[hash].skills.data.total_sp">
					Skill Points:
					<small class="text-muted">
						{{character[hash].skills.data.total_sp | number: "1.0-0"}} SP
					</small>
				</span>

				<span>
					{{character[hash].skillQueue.data[0].skill_id}}:
					<small class="text-muted">
						{{character[hash].skillQueue.data[0].finish_date}}
					</small>
				</span>

				<span>
					Queue Ends:
					<small class="text-muted">
						{{character[hash].skillQueue.data.slice(-1)[0].finish_date}}
					</small>
				</span>

			</div>

		</figcaption>

	</figure>

	<!-- Message to use if there are no characters yet. -->
	<p *ngIf="!tokens || tokens.length == 0"
		class="text-center mt-5">
		No characters available. Use 'Edit' -> 'Add Character' to log in via SSO.
	</p>

</div>
