.card-deck {
	padding: 0;
	margin: 0;
}

.card-deck .card {
	max-width: 16rem;
	min-width: 16rem;
	margin: 0.5rem;

	cursor: pointer;
}

.card-deck .card .card-body .card-text .text-section {
	display: block;
	margin-bottom: 0.25rem;

	font-weight: 500;
}

.card-deck .card .card-body .card-text .text-section .text-muted {
	display: block;

	font-weight: normal;
}
