<div class="container-fluid">

	<!-- Page title. -->
	<h1 class="display-4">Overview</h1>

	<!-- Page description. -->
	<p class="lead">
		Basic information about your characters, their queues, etc; click them to view more details.
	</p>

	<!-- List of character tokens. -->
	<ul class="card-deck">
		<li class="card"
			*ngFor="let token of tokens"
			[routerLink]="['/character-info', token.verification.CharacterOwnerHash]">

			<img [src]="eveImage(
					'Character',
					token.verification.CharacterID,
					256
				)"
				class="card-img-top"
				alt="Character Image">

			<div class="card-body">

				<h5 class="card-title text-truncate">
					{{token.verification.CharacterName}}
				</h5>

				<div class="card-text">

					<span class="text-section"
						*ngIf="characterData(token.verification.CharacterOwnerHash, wallet)">
						Wallet:
						<small class="text-muted">
							{{characterData(token.verification.CharacterOwnerHash, wallet) | number: "1.2-2"}} ISK
						</small>
					</span>

					<span class="text-section"
						*ngIf="characterData(token.verification.CharacterOwnerHash, skills).total_sp">
						Skill Points:
						<small class="text-muted">
							{{characterData(token.verification.CharacterOwnerHash, skills).total_sp | number: "1.0-0"}} SP
						</small>
					</span>

					<span class="text-section"
						*ngIf="characterData(token.verification.CharacterOwnerHash, skillQueue)[0]">
						{{characterData(token.verification.CharacterOwnerHash, skillQueue)[0].skill_id}}:
						<small class="text-muted">
							{{countdown(characterData(token.verification.CharacterOwnerHash, skillQueue)[0].finish_date)}}
						</small>
					</span>

					<span class="text-section"
						*ngIf="characterData(token.verification.CharacterOwnerHash, skillQueue)[0]">
						Queue Ends:
						<small class="text-muted">
							{{countdown(characterData(token.verification.CharacterOwnerHash, skillQueue).slice(-1)[0].finish_date)}}
						</small>
					</span>

				</div>

			</div>

		</li>
	</ul>

	<!-- Message to use if there are no characters yet. -->
	<p *ngIf="tokens.length == 0"
		class="text-center mt-5">
		No characters available. Use 'Edit' -> 'Add Character' to log in via SSO.
	</p>

</div>
