<div class="container-fluid">

	<!-- Page title and return link. -->
	<h1 class="display-4">
		Manage Characters
		<a routerLink="/overview"
			class="btn btn-light float-right"
			role="button">
			Return To Overview
		</a>
	</h1>

	<!-- Page description. -->
	<p class="lead">
		View your characters, their tokens, and when the expire; remove them, or force a refresh.
	</p>

	<!-- List of character tokens. -->
	<figure class="media"
		*ngFor="let i of tokens">

		<!-- Character image. -->
		<img [src]="eveImage(
				'Character',
				i.verification.CharacterID,
				128
			)"
			class="mr-3"
			alt="Character Image">

		<!-- Main content. -->
		<figcaption class="media-body">

			<!-- Character name. -->
			<h5 class="mt-0">{{i.verification.CharacterName}}</h5>

			<!-- Character details. -->
			<dl class="row">

				<dt class="col-sm-12">
					Access Token
				</dt>
				<dd class="col-sm-12">
					<div class="input-group">
						<input type="text"
							class="form-control"
							disabled="true"
							[value]="i.token">
						<div class="input-group-append">
							<button class="btn btn-outline-success"
								type="button"
								(click)="toClipboard(i.token);"
								ngbTooltip="Copied!"
								triggers="click:mouseleave"
								container="body">
								Copy
							</button>
						</div>
					</div>
				</dd>

				<dt class="col-sm-12" *ngIf="i.refresh != null">
					Refresh Token
				</dt>
				<dd class="col-sm-12" *ngIf="i.refresh != null">
					<div class="input-group">
						<input type="text"
							class="form-control"
							disabled="true"
							[value]="i.refresh">
						<div class="input-group-append">
							<button class="btn btn-outline-success"
								type="button"
								(click)="toClipboard(i.refresh);"
								ngbTooltip="Copied!"
								triggers="click:mouseleave"
								container="body">
								Copy
							</button>
						</div>
					</div>
				</dd>

				<dt class="col-sm-12">
					Access Token Expiration
				</dt>
				<dd class="col-sm-12"
					[ngClass]="{ 'text-danger': isExpired(i.expiration) }">
					{{i.expiration | date:'medium'}}
				</dd>

			</dl>

			<!-- Actions for this character. -->
			<div class="row">
				<div class="col-md-12 text-right">
					<!-- Force attempted character update. -->
					<button type="button"
						class="btn btn-primary"
						*ngIf="!isExpired(i.expiration)">
						Force Data Update
					</button>

					<!-- Remove this character/token from list. -->
					<button type="button"
						class="btn btn-danger"
						(click)="removeToken(i);">
						Remove
					</button>
				</div>
			</div>

		</figcaption>

	</figure>

	<!-- Message to use if there are no characters yet. -->
	<p *ngIf="!tokens || tokens.length == 0"
		class="text-center mt-5">
		No characters available. Use 'Edit' -> 'Add Character' to log in via SSO.
	</p>

</div>
